@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.mobile-img {
  display: none;
}

nav {
  color: white;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  width: 100vw;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.list {
  display: flex;
  align-items: center;
  margin-right: 35px;
  position: relative;
}

.list li {
  list-style-type: none;
  padding: 18px;
  transition: all 500ms ease-in-out;
}

.list li a {
  text-decoration: none;
  color: white;
}

nav {
  height: 13vh;
}

.logo {
  margin-left: 30px;
}

.list li {
  padding: 18px;
}

.btn {
  padding: 9px;
  border-radius: 30px;
  background-color: white;
  padding: -1px;
  width: 95px;
  height: 40px;
}

.list li {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn > a:nth-child(1) {
  align-items: center;
  color: black;
}

.container-main {
  min-height: 100vh;
  color: white;
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  margin: 55px 0;
  font-size: 1.9rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
}

.arrow {
  position: relative;
  left: 50%;
}
.card {
  max-width: 100vw;
  display: flex;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-content {
  font-family: "Barlow", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.content {
  width: 50%;
}

.heading-card {
  width: 50%;
}

.content {
  margin: 30px;
  line-height: 1.5;
  color: grey;
  font-weight: 450;
  flex-wrap: wrap;
}

#learnMore {
  width: 50%;
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.heading-card {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card-img {
  width: 50%;
}

.card-img img {
  width: 100%;
  border-radius: 0 0 0 5px;
}

.card-img .reverse {
  border-radius: 0 5px 0 0;
}

.left,
.right {
  width: 50%;
}

.sec-container {
  height: 90vh;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
}

.cardLeft {
  color: hsl(167, 40%, 24%);
  display: flex;
  flex-direction: column;
  width: 49.4%;
  background-image: url("images/desktop/image-graphic-design.jpg");
  justify-content: flex-end;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90%;
}

.cardLeft img,
.cardRight {
  width: 100%;
  height: 100%;
}

.heading-semi {
  font-family: "Fraunces", serif;
  font-size: 1.4rem;
}

.cardRight {
  height: 90%;
  color: hsl(198, 62%, 26%);
  display: flex;
  flex-direction: column;
  width: 50%;
  background-image: url("images/desktop/image-photography.jpg");
  justify-content: flex-end;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sec-cards {
  display: flex;
  height: 100%;
  max-width: 100vw;
}

.cardLeft img {
  width: 100%;
}

.cardRight img {
  width: 100%;
}

.description {
  font-family: "Barlow", sans-serif;
  width: 60%;
  margin: 25px 0;
  line-height: 1.7;
}

.heading-of-cilents {
  margin: 50px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: hsl(232, 10%, 55%);
}

.client-testimonial {
  display: flex;
  height: 67vh;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.reviews {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client {
  height: 38vh;
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1.5px solid #e1f1e1f1;
}

.client:last-child {
  border-right: none;
}

.c-img {
  width: 50px;
  border-radius: 30px;
}

.content-client {
  width: 80%;
  line-height: 1.5;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}

.name,
.profession {
  width: 80%;
  font-family: "Barlow", sans-serif;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.profession {
  font-weight: lighter;
  color: hsl(232, 10%, 55%);
  margin-top: 15px;
}

.last-imgs {
  width: 100vw;
  display: flex;
  margin-top: 25px;
}

.l-img {
  width: 25vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: hsl(168, 34%, 41%);
  background-color: hsl(167, 41%, 53%);
}

.f-list {
  display: flex;
  margin: 20px 0;
}

.logoF {
  display: flex;
  justify-content: center;
}

.f-list li {
  list-style: none;
  margin: 20px;
  color: hsl(212, 27%, 19%);
  font-family: "Barlow", sans-serif;
  transition: all 800ms ease-in-out;
}

.f-list li:hover {
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: center;
  transition: all 800ms ease-in-out;
}

.social-links img {
  margin: 0 20px;
}

.social-links img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.attribution {
  margin-top: 30px;
  font-size: 20px;
}

li:hover,
:focus {
  transform: scale(1.1);
  color: whitesmoke;
}

.btn:hover {
  background-color: hsla(200, 100%, 80%, 1);
  color: hsl(212, 27%, 19%);
  text-decoration: none;
}

.hamBurger {
  display: none;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 45px;
  right: 15px;
  cursor: pointer;
  transition: 500ms all ease-in-out;
}

@media screen and (max-width: 1100px) {
  .client-testimonial {
    height: 70vh;
  }

  .cardLeft,
  .cardRight {
    width: 50vw;
  }
  .card {
    height: 50vh;
  }

  .heading-card {
    /* font-size: 2.5rem; */
    font-size: 1.5rem;
  }

  .content,
  .heading-card,
  #learnMore {
    /* width: 50%; */
    width: 65%;
  }

  .cardLeft {
    /* background-size: 100%; */
    background-size: 100% 100%;
  }

  .cardRight {
    /* background-size: 100%; */
    background-size: 100% 100%;
  }

  .description {
    /* width: 50%; */
    width: 80%;
  }

  .sec-container {
    height: 50vh;
  }

  .sec-cards {
    /* height: 70vh; */
    height: 50vh;
  }
}

@media screen and (max-width: 850px) {
  .client-testimonial {
    height: 80vh;
  }

  .reviews {
    height: 60vh;
  }

  .client {
    height: 58vh;
  }

  .description {
    margin: 10px 0 15px;
  }

  .heading-card {
    /* font-size: 2.5rem; */
    font-size: 1.3rem;
  }

  #learnMore {
    font-size: 1rem;
  }

  .sec-container,
  .sec-cards {
    height: 60vh;
  }

  .cardLeft,
  .cardRight {
    right: 100%;
  }
}

@media screen and (max-width: 750px) {
  .desktop-img {
    display: none;
  }

  .heading-semi {
    margin-top: 10px;
  }

  .container-main {
    background-image: url("images/mobile/image-header.jpg");
    background-size: cover;
  }

  .mobile-img {
    display: block;
  }

  .card {
    flex-direction: column-reverse;
    height: 100vh;
  }

  .card-img {
    width: 100vw;
    height: 50vh;
  }
  .card-img img {
    width: 100%;
    height: 100%;
  }

  .card-content {
    width: 100vw;
    height: 50vh;
  }

  .content,
  .heading-card,
  #learnMore {
    width: 60%;
  }

  .column {
    flex-direction: column;
  }

  .sec-container,
  .sec-cards {
    height: 100vh;
  }

  .sec-cards {
    display: flex;
    flex-direction: column;
  }

  .cardLeft,
  .cardRight {
    width: 100%;
    height: 50%;
  }

  .description {
    width: 60%;
  }

  .client-testimonial {
    height: 145vh;
  }

  .reviews {
    height: 130vh;
    flex-direction: column;
  }

  .client {
    width: 55vw;
    height: 40vh;
    margin: 20px 0;
    border-right: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 10px rgba(240, 230, 240, 1);
    /*box-shadow: 0px 0px 10px 0px rgba(189,191,218,0.88);
    box-shadow: 0px 0px 10px 0px rgba(230,235,240,1.5); */
  }

  .footer {
    height: 40vh;
  }
}

@media screen and (max-width: 500px) {
  .hamBurger {
    display: block;
  }

  .heading-main {
    font-size: 2.5rem;
  }
  .list {
    position: absolute;
    top: -100%;
  }

  .list li a {
    color: black;
  }

  .mobile-menu {
    flex-direction: column;
  }

  .isMobile {
    height: 50vh;
  }
}

@media screen and (max-width: 500px) {
  .client {
    height: 45vh;
    width: 75vw;
  }

  .mobile-menu {
    top: 10%;
    width: 90vw;
    margin: 0 20px;
    background-color: white;
    color: black;
    height: 40vh;
    justify-content: center;
    border-radius: 0 50px 0 0;
    transition: all 1.6s ease-in-out;
  }

  .btn {
    background-color: hsl(51, 100%, 49%);
  }

  .list li {
    margin: 20px 0;
    padding: 0px;
  }
  .logo {
    position: absolute;
    top: 5%;
  }
  .isMobile {
    height: 50vh;
  }
  .reviews {
    height: 140vh;
    flex-direction: column;
  }

  .client-testimonial {
    height: 165vh;
  }
}

@media screen and (max-width: 450px) {
  .card,
  .sec-container,
  .sec-cards {
    height: 90vh;
  }

  .heading-semi {
    font-size: 1.29rem;
  }

  .card-img {
    height: 40vh;
  }

  .client {
    height: 35vh;
    width: 75vw;
  }

  .reviews {
    justify-content: flex-start;
  }

  .client-testimonial {
    height: 140vh;
  }

  .description {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  .content,
  .heading-card,
  #learnMore {
    /* width: 50%; */
    width: 60%;
  }
  .client-testimonial {
    /* height: 135vh; */
    height: 155vh;
  }

  .client {
    height: 40vh;
  }

  .footer {
    height: 55vh;
  }

  .f-list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 750px) and (max-height: 575px) {
  .card {
    height: 100vh;
  }
  .sec-container,
  .sec-cards {
    height: 100vh;
  }

  .client-testimonial {
    height: 135vh;
  }

  .reviews {
    height: 90vh;
  }

  .client {
    height: 85vh;
  }
}

@media screen and (max-width: 325px) {
  .heading-main {
    font-size: 2.3rem;
  }

  .heading-card {
    font-size: 1rem;
  }

  .card-content {
    font-size: 0.8rem;
  }

  #learnMore {
    font-size: 0.9rem;
  }

  .heading-semi {
    font-size: 1.09rem;
  }

  .description {
    font-size: 0.8rem;
  }

  .client-testimonial {
    height: 180vh;
  }

  .reviews {
    height: 150vh;
  }

  .client {
    height: 50vh;
  }

  .content-client {
    font-size: 0.8rem;
  }

  .profession,
  .name {
    font-size: 0.9rem;
  }
}
