@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  color: white;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  width: 100vw;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.list {
  display: flex;
  align-items: center;
}

.list li {
  list-style-type: none;
  padding: 18px;
  transition: all 800ms ease-in-out;
}

.list li:last-child {
  margin-right: 30px;
}

.list li a {
  text-decoration: none;
  color: white;
}

/* style.css | http://127.0.0.1:5500/style.css?_cacheOverride=1663656730887 */

nav {
  /* height: 20vh; */
  height: 13vh;
}

.logo {
  margin-left: 30px;
}

.list li {
  padding: 18px;
}

.btn {
  padding: 9px;
  border-radius: 30px;
  background-color: white;
  padding: -1px;
  width: 95px;
  height: 40px;
}

.list li {
  display: flex;
}

/* Element | http://127.0.0.1:5500/index.html */

.btn > a:nth-child(1) {
  display: flex;
  align-items: center;
  color: black;
}

.container-main {
  min-height: 100vh;
  color: white;
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  margin: 55px 0;
  font-size: 1.9rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
}

.arrow {
  position: relative;
  left: 50%;
}
.card {
  max-width: 100vw;
  display: flex;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-content {
  font-family: "Barlow", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.content {
  width: 50%;
}

.heading-card {
  width: 50%;
}

.content {
  margin: 30px;
  line-height: 1.5;
  color: grey;
  font-weight: 450;
  flex-wrap: wrap;
}

#learnMore {
  width: 50%;
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.heading-card {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card-img {
  width: 50%;
}

.card-img img {
  width: 100%;
  border-radius: 0 0 0 5px;
}

.card-img .reverse {
  border-radius: 0 5px 0 0;
}

.left,
.right {
  width: 50%;
}

.sec-container {
  height: 75vh;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
}

.cardLeft {
  color: hsl(167, 40%, 24%);
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-image: url("images/desktop/image-graphic-design.jpg");
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardLeft img {
  width: 100%;
}

.heading-semi {
  font-family: "Fraunces", serif;
  font-size: 1.4rem;
}

.cardRight {
  color: hsl(198, 62%, 26%);
  display: flex;
  flex-direction: column;
  width: 50vw;
  background-image: url("images/desktop/image-photography.jpg");
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardLeft img {
  width: 100%;
}

.cardRight img {
  width: 100%;
}

.description {
  font-family: "Barlow", sans-serif;
  width: 50%;
  margin: 25px 0 40px 0;
  line-height: 1.7;
}

.heading-of-cilents {
  margin: 50px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: hsl(232, 10%, 55%);
}

.client-testimonial {
  display: flex;
  height: 67vh;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.reviews {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.client {
  height: 35vh;
  max-width: 25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.c-img {
  width: 50px;
  border-radius: 30px;
}

.content-client {
  width: 80%;
  line-height: 1.5;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}

.name,
.profession {
  width: 80%;
  font-family: "Barlow", sans-serif;
}

.name {
  font-weight: bolder;
}

.profession {
  font-weight: lighter;
  color: hsl(232, 10%, 55%);
}

.last-imgs {
  width: 100vw;
  display: flex;
}

.l-img {
  width: 25vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  color: hsl(168, 34%, 41%);
  background-color: hsl(167, 41%, 53%);
}

.f-list {
  display: flex;
  margin: 20px 0;
}

.logoF {
  display: flex;
  justify-content: center;
}

.f-list li {
  list-style: none;
  margin: 20px;
  color: hsl(212, 27%, 19%);
  font-family: "Barlow", sans-serif;
}

.f-list li:hover {
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: center;
  transition: all 800ms ease-in-out;
}

.social-links img {
  margin: 0 20px;
}

.social-links img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.attribution {
  margin-top: 30px;
  font-size: 20px;
}

li:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: hsl(0, 0%, 100%);
}

.btn:hover {
  background-color: hsla(200, 100%, 80%, 1);
  color: hsl(212, 27%, 19%);
}
